<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>CTO Test Search Form — Scopus — Elsevier</title>  
	</head>
	<body>
		<b>CTO Test Form</b>
		<p>The input should be something like auth_1_1.  In other words, the primary keey for the stored query in the scopus-solr-load-query DDB table.</p>
		<form action="/ctoTest" method="post">
			<input id="quickSearch1" type="text" name="query" size="125" maxlength="5000" value=""/>
			<input type="submit" value="Submit"/>
		</form>
		<p/>
		<p/>
		<b>Free Form</b>
		<p>The input should be something like q=(afid:"60026108" OR afid:"60002934" OR afid:"60026108").</p>
		<form action="/ctoTest" method="post">
			<input id="quickSearch2" type="text" name="freeFormQuery" size="125" maxlength="64000" value=""/>
			<select name="cluster" size="3">
				<option value="affil" selected>Affiliation</option>
				<option value="auth">Author</option>
				<option value="core">Core</option>
			</select>
			<input type="submit" value="Submit"/>
		</form>
	</body>
</html>