<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Load Test Search Form — Scopus — Elsevier</title>  
	</head>
	<body>
		<b>Load Test Form</b>
		<p>The input should be something like auth_user_1.  In other words, the primary key for the stored query.</p>
		<form action="/loadTest" method="post">
			<input id="quickSearch1" type="text" name="query" size="125" maxlength="5000" value=""/>
			<input type="submit" value="Submit"/>
		</form>
	    <p/>
	</body>
</html>